/* header styels */
.header{margin: 0 auto; width: 716px; margin-top: 80px;}
.team{ font-size: 16px;
text-align: center; margin-bottom: 18px;}
.meet{font-size: 54px; text-align: center}
.text{font-size:20px; text-align: center;margin-bottom: 48px;}
.head1{margin-bottom: 20px;}
.head2{width: 760px; height: 70px;}






/* main box */

.mainbox { width: 1336px;
    height: 909px;
margin: 0 auto;
display: flex; flex-wrap: wrap; justify-content: space-between;} 



.box1{width: 310px; height: 431px; margin-bottom: 48px;


}
.box2{width: 310px; height: 431px;}

.fbinsta{
    width: 278px;height: 37px; display: flex;}
    
    .surname{font-size: 18px; margin-bottom: 4px;}
    .box11{width: 278px;height: 108px; margin-bottom: 24px;}
    .job{margin-bottom: 8px; color:#5F6980; font-size: 14px
        ;} 




        /* footer */
        .footer{width: 1291px; height: 223px; background-color: aqua; margin: 0 auto;
        margin-top: 108px; margin-bottom: 126px; display: flex; justify-content: space-between;}

        .footer1{width: 318px; height: 221px;}

        .footer2{ width: 136px; height: 223px;}

        .fb{ width: 36px; height: 36px; border-radius: 50%; background-color: #F2F4F7; display: flex; justify-content: center; align-items: center;}
        .insta{ width: 36px; height: 36px; border-radius: 50%; background-color: #F2F4F7; display: flex; justify-content: center; align-items: center;  
            margin-left: 18px; margin-right: 18px;}
            .twiter{ width: 36px; height: 36px; border-radius: 50%; background-color: #F2F4F7; display: flex; justify-content: center; align-items: center;}
        